{% extends 'base.html.twig' %}

{% block title %}React{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
{% endblock %}
{% block body %}
    <div id="app"></div>
{% endblock %}
